body , .container{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
#client{
  margin-top:30px;
  margin-left:40px;
  height: 100%;  
  /* width:50%; */
  float: left;
}
#date{
    margin-top:30px;
    /* margin-left:40px; */
    height: 100%;  
    /* width:50%; */
    float: left;
}
#header{
    width: 100%;
    height: 30%;
    /* background-color: chocolate; */
    display:inline-block;
  
}
#ht,#ttc{
    border-style: none;
    background-color: white;
}
#createFacture{
    margin-top: 20px;
}